<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">Quest</a>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="section-editor">
          <form>
            <div class="form-group">
              <label for="input-title">Title</label>
              <input type="text" class="form-control" id="input-title" placeholder="A short, descriptive name">
            </div>
            <div class="form-group">
              <label for="input-description">Description</label>
              <textarea class="form-control" id="input-description" placeholder="A long description of the feature request" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="input-client">Client</label>
              <select class="form-control" id="input-client">
                <option>Client A</option>
                <option>Client B</option>
                <option>Client C</option>
              </select>
            </div>
            <div class="form-group">
              <label for="input-priority">Client Priority</label>
              <input type="number" class="form-control" id="input-priority" value="1" min="1">
            </div>
            <div class="form-group">
              <label for="input-date">Target Date</label>
              <input type="date" class="form-control" id="input-date" value="{{ now.strftime('%Y-%m-%d') }}">
            </div>
            <div class="form-group">
              <label for="input-product">Product Area</label>
              <select class="form-control" id="input-product">
                <option>Policies</option>
                <option>Billing</option>
                <option>Claims</option>
                <option>Reports</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success">Create feature request</button>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="section-list">

        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted pull-right">&copy; {{ now.strftime('%Y') }}, <a href="https://github.com/jdanford">Jordan Danford</a>.</p>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
